[server]

[mysqld]
general_log=ON
general_log_file=/var/log/mariadb/query.log
character_set_server=utf8
default-storage-engine=InnoDB
innodb_file_per_table

[galera]

[embedded]

[mariadb]

[mariadb-10.1]
